/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-brand-primary: #7547db;
  --color-brand-secondary: #42dc80;
  --border-width: 2px;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Basic Layout */

.main-container {
  display: flex;
  min-height: 100vh;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: var(--border-width) var(--border-width) var(--border-width) 0;
  border-style: solid;
}

/* Navigation */

.nav {
  width: 10rem;
  height: 100%;
  border-color: black;
  border-width: var(--border-width);
  border-style: solid;

  & .logo-container {
    background-color: var(--color-brand-primary);
    padding: 1rem;
    border-bottom: solid var(--border-width);
  }

  & img {
    max-width: 6rem;
  }

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
