<nav class="nav">
  <div class="logo-container">
    <img src="/assets/img/1rg-logo-white.svg" alt="1RG Logo" />
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/rolodex">Rolodex</a>
    </li>
  </ul>


</nav>
