<!DOCTYPE html>
<html>

<head>
  {{template "head.tmpl" "1RG Rolodex"}}
</head>

<body>
  <div class="main-container">
    <header>{{template "header.tmpl"}}</header>
    <div class="content-container">
      <main>
        <a class="button" href="/rolodex/add">Add yourself</a>
        <ul>
          {{range .}}
          <li>
            {{.Name}} {{.LastName}}: {{.ID}} |
            <a href="/rolodex/edit/{{.ID}}">Edit</a>
          </li>
          {{end}}
        </ul>
      </main>
      <footer>{{template "footer.tmpl"}}</footer>
    </div>
  </div>
</body>

</html>
