<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head.tmpl" "1RG rolodex: edit"}}
  </head>
  <body>
    <header>{{template "header.tmpl"}}</header>
    <main>
      <h2>Edit your rolodex profile</h2>
      {{if gt (len .msg) 0}}
      <p class="notice">{{.msg}}</p>
      {{end}}
      <p>All fields are optional except for your (first) name.</p>
      <form method="post" enctype="multipart/form-data">
        <p>
          Enter the password you used when creating your profile:
          <input type="password" name="password" required />
        </p>

        <p>
          <label for="avatar">Change profile picture</label>
          <input type="file" name="avatar" accept="image/*" />
        </p>

        <p>
          <label for="name">Name</label>
          <input type="text" name="name" required value="{{.user.Name}}" />
        </p>

        <p>
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" value="{{.user.LastName}}" />
        </p>

        <p>
          <label for="pronouns">Pronouns</label>
          <input
            type="text"
            name="pronouns"
            placeholder="she/her"
            value="{{.user.Pronouns}}"
          />
        </p>

        <p>
          <label for="email">Email</label>
          <input type="email" name="email" value="{{.user.Email}}" />
        </p>

        <p>
          <label for="bio">Bio</label>
          <textarea name="bio" value="{{.user.Bio}}"></textarea>
        </p>

        <p>
          <label for="birthday">Birthday</label>
          <input type="date" name="birthday" value="{{.user.Birthday}}" />
        </p>

        <p>
          <label for="website">Website</label>
          <input type="text" name="website" value="{{.user.Website}}" />
        </p>

        <p>
          <label for="bluesky">Bluesky</label>
          <input
            type="text"
            name="bluesky"
            placeholder="foo.bsky.social"
            value="{{.user.Bluesky}}"
          />
        </p>

        <p>
          <label for="goodreads">Goodreads</label>
          <input
            type="text"
            name="goodreads"
            placeholder="https://www.goodreads.com/user/show/123-name"
            value="{{.user.Goodreads}}"
          />
        </p>

        <p>
          <label for="fedi">Fedi</label>
          <input
            type="text"
            name="fedi"
            placeholder="https://cosocial.ca/@foo"
            value="{{.user.Fedi}}"
          />
        </p>

        <p>
          <label for="github">GitHub</label>
          <input
            type="text"
            name="github"
            placeholder="username"
            value="{{.user.GitHub}}"
          />
        </p>

        <p>
          <label for="instagram">Instagram</label>
          <input
            type="text"
            name="instagram"
            placeholder="username"
            value="{{.user.Instagram}}"
          />
        </p>

        <p>
          <label for="signal">Signal</label>
          <input
            type="text"
            name="signal"
            placeholder="username"
            value="{{.user.Signal}}"
          />
        </p>

        <p>
          <label for="phone">Phone</label>
          <input
            type="tel"
            name="phone"
            placeholder="647-555-1234"
            value="{{.user.Phone}}"
          />
        </p>

        {{ .csrfField }}

        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>{{template "footer.tmpl"}}</footer>
  </body>
</html>
